## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [2]:
count=0
with open("data/popular-names.txt") as f:
    for i in f:
        count+=1
count

2740

In [4]:
!wc data/popular-names.txt

    2740   10960   54242 data/popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [6]:
with open("data/popular-names.txt","r") as fin,open("work/test_1.txt","w") as fout:
    for line in fin:
        fout.write(line.replace('\t',' '))

In [17]:
!head -n10 data/popular-names.txt | tr "\t" " "

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [21]:
!head -n10 data/popular-names.txt|expand -t1

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [23]:
with open("data/popular-names.txt") as fin, open("work/cot1.txt","w") as fout_1, open("work/cot2.txt","w") as fout_2:
    for line in fin:
        line_split=line.split()
        fout_1.write(line_split[0]+'\n')
        fout_2.write(line_split[1]+'\n')

In [28]:
!head -n10 data/popular-names.txt | cut -f1

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [29]:
!head -n10 data/popular-names.txt | cut -f2

F
F
F
F
F
F
F
F
F
F

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [120]:
with open("work/cot1.txt") as fin_1,open("work/cot2.txt") as fin_2,open("work/cot_merge.txt",'w') as fout:
    for a,b in zip(fin_1,fin_2):
        fout.write(a.rstrip()+'\t'+b)

In [32]:
!paste work/cot1.txt work/cot2.txt|head -n10

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [48]:
def line(num):
    with open("data/popular-names.txt") as fin:
        for line in list(fin)[:num]:
            print(line,end="")
line(int(input("head=")))

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [43]:
!head -n5 data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [47]:
def tail(num):
    with open("data/popular-names.txt") as f:
        for line in list(f)[-num:]:
            print(line,end="")
        
tail(int(input("tail=")))

Benjamin	M	14569	2016
Jacob	M	14416	2016
Michael	M	13998	2016
Elijah	M	13764	2016
Ethan	M	13758	2016

In [39]:
!tail -n5 data/popular-names.txt

Benjamin	M	14569	2016
Jacob	M	14416	2016
Michael	M	13998	2016
Elijah	M	13764	2016
Ethan	M	13758	2016

## 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [74]:
def split(N):
    with open("data/popular-names.txt") as f:
        lines=list(f)
        x=2740//N
        for i in range(N-1):
            with open("work/split{}.txt".format(i),"w") as fout:
                for line in lines[i*x:(i+1)*x]:
                    fout.write(line)
        with open("work/split{}.txt".format(N),"w") as fout:
            for line in lines[x*(N-1):]:
                fout.write(line)
split(int(input("split=")))

In [87]:
!split -l 548 data/popular-names.txt

## 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [138]:
with open("data/popular-names.txt") as f:
    print(len(set([x.split()[0] for x in f])))

132

In [99]:
!cut -f 1 data/popular-names.txt|sort -u |head -n10

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amy
Andrew
Angela
Anna

## 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）

In [109]:
with open("data/popular-names.txt") as fin:
    lis=sorted(list(fin),key=lambda x: x.split("\t")[2],reverse=True)

In [111]:
for x in lis[:10]:
    print(x,end="")

Linda	F	99685	1947
James	M	9951	1911
Mildred	F	9921	1913
Mary	F	9889	1886
Mary	F	9888	1887
John	M	9829	1900
Elizabeth	F	9692	2012
Anna	F	9687	1913
Frances	F	9677	1914
John	M	9655	1880

In [119]:
!sort -r -k 3 data/popular-names.txt|head -n10

Linda	F	99685	1947
James	M	9951	1911
Mildred	F	9921	1913
Mary	F	9889	1886
Mary	F	9888	1887
John	M	9829	1900
Elizabeth	F	9692	2012
Anna	F	9687	1913
Frances	F	9677	1914
John	M	9655	1880
sort: Broken pipe

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ

In [154]:
from collections import Counter
with open("data/popular-names.txt") as f:
    c=Counter([x.split()[0] for x in f])
    a=sorted(c,key=lambda x:c.get(x),reverse=True)
    for i in range(10):
        print((a[i],c.get(a[i])))

('James', 116)
('William', 109)
('John', 108)
('Robert', 108)
('Mary', 92)
('Charles', 75)
('Michael', 74)
('Elizabeth', 73)
('Joseph', 71)
('Margaret', 60)

In [156]:
!cut -f1 data/popular-names.txt | sort | uniq -c | sort -r | head -n10

 116 James
 109 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  71 Joseph
  60 Margaret